baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://iceplugins.xyz" # the base hostname & protocol for your site, e.g. http://example.com

markdown: kramdown
permalink: /:title/

title: IcePlugins
description: An Unturned Plugin repository with open source Unturned Plugins.
author: ExtraConcentratedJuice
logo: https://iceplugins.xyz/favicon.png

defaults:
  - scope:
      path: ""
    values:
      image: https://iceplugins.xyz/favicon.png

plugins:
  - jekyll-seo-tag

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
