---
layout: default
---
{% include masthead.html %}
<div class="ui segment vertical plugins" style="border-bottom: 0;">
    <div v-else class="ui container">
        <div class="ui three stackable cards">
            {% for post in site.posts %}
            <div class="ui raised card" href="{{ post.url | prepend: site.url }}">
                <div class="content">
                    <span class="right floated"><i class="balance scale icon"></i> {% if post.license %}{{ post.license }}{% else %}WTFPL{% endif %}</span>
                    <div class="header icefont">
                        <h3><a href="{{ post.url }}" style="color: inherit;">{{ post.title | truncate: 40 }}</a></h3>
                    </div>
                    <div class="meta icefont">
                        <span>by {% if post.author %}{{ post.author }}{% else %}ExtraConcentratedJuice{% endif %}</span>
                    </div>
                    <div class="description icefont">
                        <p>{% if post.description_short %}{{ post.description_short }}{% else %}{{ post.description | strip_html | strip_newlines | truncate: 170 }}{% endif %}</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="card-button left floated file alternate">
                        <a href="{{ post.url | prepend: site.url }}" class="icefont">
                            <i class="file alternate icon"></i>
                            Documentation
                        </a>
                    </span>
                    <span class="card-button right floated download">
                        <a href="{{ post.download }}" class="icefont">
                            <i class="download icon"></i>
                            Get
                        </a>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>