---
layout: default 
---
<section class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <img class="img-fluid" src="/images/Logo4.png" alt="logo" width=250px/>
        <h1 class="jumbotron-heading">IcePlugins</h1>
        <h1 class="lead text-muted">An Unturned plugin repository with a mission to deliver completely open source and free plugins.</h1>
        <p>
            <a onclick="this.blur();" href="https://discord.gg/G2EuW2H" class="btn btn-primary">
                <i class="fab fa-discord"></i> Discord</a>
            <a onclick="this.blur();" href="https://github.com/iceplugins" class="btn btn-primary">
                <i class="fab fa-github"></i> GitHub</a>
        </p>
    </div>
</section>

<section>
    <div class="container">
        {% for post in site.posts %} {% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %} {% if modulo == '1' %}
        <div class="row">
            {% endif %}
            <div class="col-sm-6 card-col">
                    <a href="{{ post.url | prepend: site.url }}">

                <div class="card mcard" style="height:100%; width:100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title | truncate: 40 }}</h5>
                        <p class="card-text">{{ post.description | strip_html | strip_newlines | truncate: 160 }}</p>
                    </div>

                    <div class="card-footer text-muted" style="">
                        {{ post.date | date: "%-d %B %Y" }}
                    </div>

                </div>
                </a>
            </div>
            {% if modulo == '0' or forloop.last %}
        </div>
        <br />{% endif %} {% endfor %}
    </div>
</section>