<footer class="footer" style="">
    <div class="container">
    <div class="row">
        <div class="col">
                <p class="text-center">IcePlugins by ExtraConcentratedJuice</p>
        </div>
        <div class="col">
                <p class="text-center">
                        
                        <a href="https://discord.gg/G2EuW2H" style="color: black"> 
                            <i class="fab fa-discord" style="vertical-align: middle;"></i></a>
                            &nbsp;
                        <a href="https://github.com/iceplugins" style="color: black">
                            <i class="fab fa-github" style="vertical-align: middle;"></i></a>
                            &nbsp;
                        <a href="https://steamcommunity.com/id/h8fulyouth" style="color: black">
                            <i class="fab fa-steam" style="vertical-align: middle;"></i></a>
                </p>
        </div>
        <div class="col">
                <p class="text-center">Unturned Plugins licensed under <a href="http://www.wtfpl.net/about/">WTFPL</a></p>
        </div>
    </div>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>