<div class="ui vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item footer-text">Contact Us</a>
                    <a href="{{ site.url }}/about" class="item footer-text">About Us</a>
                    <a href="{{ site.url }}/sitemap.xml" class="item footer-text">Sitemap</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">About the Author</h4>
                <p class="footer-text">This website was made by ExtraConcentratedJuice. I heard he's a pretty cool guy.</p>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Our Mission</h4>
                <p class="footer-text">We deliver free and open source Unturned plugins to YOU, the Unturned server owner. We offer free and open-source plugins as a service to the Unturned server owner and an educational resource to the Unturned plugin developer.</p>
            </div>
        </div>
    </div>
</div>
